<form action= "/payment/results">
<label for="APR">APR</label>
<input id= "APR" type="text" name=user_apr>

<div>

<label for="num_years">Number of years</label>
<input id= "num_years" type="text" name=user_num_years>

<div>

<label for="principal">Principal</label>
<input id= "principal" type="text" name=user_principals>

<div>
<button>Calculate monthly payment</button>

</form>
