<form action="/random/results">
<label for="min_num">Minimum</label>
<input id="min_num" name= min_number>

<div>


<label for= "max_num">Maximum</label>

<input id= "max_num" name= max_number> 
<div>
<button>Pick Random Number </button>

</form>
